html {
    font-family: sans-serif;
}

body {
    text-align: center;
}

button {
    width: 95%;
    height: 95%;
    margin: auto;
    padding: 0;
    border-radius: 5%;
    border: 1px;
    font-size: 2em;
}

button:focus {
    outline-color: black;
}

.opButton {
    background-color: bisque;
}

#wideButtonLeft {
    grid-column: 1 / span 2;
    background-color: rgb(204, 222, 255);
}

#wideButtonRight {
    grid-column: 4 / span 1;
    background-color: rgb(255, 179, 125);
}

#wideButtonBottom {
    grid-column: 1 / span 2;
}

#delButton {
    background-color: rgb(255, 217, 121);
}

#container {
    border-style: solid;
    border-width: 5px;
    border-radius: 3%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: 100px repeat(5, minmax(0, 1fr));
    padding: 0;
    width: 500px;
    height: 600px;
}

#screen {
    background-color: rgb(218, 218, 218);
    border-style: solid;
    border-width: 5px;
    border-radius: 1%;
    grid-column: 1 / span 4;
    width: 490px;
}

#displayValue {
    font-size: 3em;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}